*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
    box-sizing:border-box
}

.home-page{
    min-height: 100vh;
    background: radial-gradient(circle,#04AA6D,#1B512D 80%);
    margin: 0;
}

@font-face{
    font-family: "MyFont";
    ;
    src: url("Pixeled.ttf") format("truetype");
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 60px;
}

.headingbox {
    border-radius: 6px;
    background-color: rgb(1, 45, 43);
    padding: 10px 20px;
    cursor: context-menu;
    margin-top: 20px;
}

.heading{
    text-align: center;
    color: #017672;
    text-shadow: 2px 2px black;
}

.pages {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #1B512D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.pages li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    transition: ease-in-out .5s;
}

.pages li a:hover{
    background-color: rgb(33, 190, 25);
    box-shadow: 0 0 5px rgb(33, 190, 25), 0 0 25px rgb(33, 190, 25), 0 0 50px rgb(33, 190, 25), 0 0 100px rgb(33, 190, 25), 0 0 200px rgb(33, 190, 25);
}

.pages li a.active{
    background-color: #04AA6D;
}
.pages li {
  float: left;
  border-right: 1px solid white;
}

.pages li:last-child {
  border-right: none;
}

.details {
    background-color: rgb(1, 45, 43);
    color: #017672;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.ethan-credit-link{
    color: #017672;
    transition: ease-in-out .5s;
}

.ethan-credit-link:hover{
    background-image: url("sculk minecraft wallpaper.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.welcome-achievement{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 83px;
    left: 0px;
}

.bottombars{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: -425px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: auto;
}

.iron-golem{
    height: 850px;
}

@media (min-width: 769px) and (max-width: 1440px) and (max-height: 900px){
    .pages {
        font-size: 12px;
    }

    .welcome-achievement{
        height: 50px;
    }

    .iron-golem{
        position: fixed;
        height: 250px;
        left: 5px;
        bottom: 0px;
    }

    .bottombars{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: -275px;
        transform: translate(-50%);
        left: 50%;
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1366px) and (max-height: 768px) {
    .welcome-achievement{
        height: 75px;
    }
}

@media screen and (max-width: 768px) {

    .pages {
        flex-direction: column;
        position: static;
        top: 0;
        font-size: 8px;
    }

    .headingbox {
        margin-top: 60px;
        text-align: center;
    }

    .details {
        width: 90%;
        font-size: 16px;
    }

    .welcome-achievement {
        position: absolute;
        top: 5px;
        height: 40px;
    }

    .bottombars {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -275px;
        transform: translate(-50%);
        left: 50%;
        width: 50%;
    }

    .iron-golem{
        visibility: hidden;
    }
}
